/* Add your styles here */
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #f1f1f1;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    
  }
  h3 {
    font-size: 30px;
  }
  /* Giving our navbar some padding and a background color */
  .navbar {
    padding: 10px;
    background: #080808;
  }
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  .navbar li {
    display: inline-block;
    /* padding: 20px; */
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #010408;
    border-radius: 5px;
  }
  /* Getting rid of the default link styles here */
  .navbar li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana;
  }
  /* Styling the header, giving it a height, a background color, and some top padding */
  .header {
    height: 200px;
    padding-top: 20px;
    background: #cdcdcd;
  }
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
  .container h1 {
    padding-top: 40px;
    /* padding: 40px; */
    margin: 0;
    color: #000;
    text-align: center;
  }
    /* Centering our h2 tag inside our header, giving it a little padding, removing its margin */
    .container h2 {
      padding: 15px;
      margin: 0;
      color: #000;
      text-align: center;
    }
  /* Giving the .post element margin on 3 sides */
  .post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }
  .text-centered {
    padding-top: 20px;
    margin: 0;
    text-align: center;
  }

  